[Unit]
Description=Handle lid close events for Hyprland
After=graphical-session.target hyprland-session.target
PartOf=graphical-session.target hyprland-session.target

[Service]
ExecStart=%h/.local/bin/lid-manager
ExecStartPre=/bin/sleep 5
Restart=always
Type=simple

[Install]
WantedBy=graphical-session.target
